<h3>
  Administration for Det Store Partners Event!
</h3>

<div style="margin: 10px"></div>
<div style="height: 1px; background: gray"></div>
<div style="margin: 10px"></div>

<div>
  Nyhedstekst:
  <input class="AdminTextBox" style="width: 800px;" [(ngModel)]="news" type="text">
  <button class="AdminButton" (click)="pushNews()">Gem nyhed</button>
</div>

<div style="margin: 10px"></div>
<div style="height: 1px; background: gray"></div>
<div style="margin: 10px"></div>

<div>
  <div style="display: flex">
    <div class="AdminTextBox">Person</div>
    <div class="AdminTextBox">Score</div>
  </div >
  <div style="height: 2px; background: black"></div>
  <div>
    <div style="display: flex; margin-top: 8px; margin-bottom: 8px">
      <input class="AdminTextBox" [(ngModel)]="score.person1Navn" type="text">
      <input class="AdminTextBox" [(ngModel)]="score.person1Score" type="text">
    </div>
    <div style="height: 1px; background: gray"></div>
    <div style="display: flex; margin-top: 8px; margin-bottom: 8px">
      <input class="AdminTextBox" [(ngModel)]="score.person2Navn" type="text">
      <input class="AdminTextBox" [(ngModel)]="score.person2Score" type="text">
    </div>
    <div style="height: 1px; background: gray"></div>
    <div style="display: flex; margin-top: 8px; margin-bottom: 8px">
      <input class="AdminTextBox" [(ngModel)]="score.person3Navn" type="text">
      <input class="AdminTextBox" [(ngModel)]="score.person3Score" type="text">
    </div>
    <div style="height: 1px; background: gray"></div>
    <div style="display: flex; margin-top: 8px; margin-bottom: 8px">
      <input class="AdminTextBox" [(ngModel)]="score.person4Navn" type="text">
      <input class="AdminTextBox" [(ngModel)]="score.person4Score" type="text">
    </div>
    <div style="height: 1px; background: gray"></div>
  </div>
</div>

<button class="AdminButton" (click)="saveScore()">
  Gem
</button>

<div style="margin: 10px"></div>
<div style="height: 1px; background: gray"></div>
<div style="margin: 10px"></div>

<h2>Antal spil spillet</h2>

<div style="display: flex; margin-top: 8px; margin-bottom: 8px">
  <input class="AdminTextBox" [(ngModel)]="score.antalSpilTekst" type="text">
  <input class="AdminTextBox" [(ngModel)]="score.antalSpilNummer" type="text">
</div>

<button class="AdminButton" (click)="saveScore()">
  Gem
</button>

<!--
<h3>
  newstion for NIH Special Olympics Scoreboard
</h3>
<div style="margin: 10px"></div>
<div style="height: 1px; background: gray"></div>
<div style="margin: 10px"></div>

<div style="display: flex;">
  Start Rotation
  <button style="margin-left: 20px;" (click)="startStopRotation()">Start / Stop Rotation</button>
  <div *ngIf="rotationStarted" style="color: green; margin-left: 30px;">Rotation is started</div>
  <div *ngIf="!rotationStarted" style="color: red; margin-left: 30px;">Rotation is stopped</div>
</div>

<div style="margin: 10px"></div>
<div style="height: 1px; background: gray"></div>
<div style="margin: 10px"></div>

<div>
  Nyhedstekst:
  <input class="AdminTextBox" style="width: 500px;" [(ngModel)]="latestNews" type="text">
  <button class="AdminButton" (click)="pushNews()">Gem nyhed</button>
</div>

<div style="margin: 10px"></div>
<div style="height: 1px; background: gray"></div>
<div style="margin: 10px"></div>

<button class="AdminButton" (click)="addActivity()">
  Tilføj ny aktivitet
</button>
<button class="AdminButton" (click)="saveScore()">
  Gem
</button>
<button class="AdminButton" (click)="revertChanges()">
  fortryd ændring
</button>

<div>
  <div style="display: flex">
    <div class="AdminTextBox">HoldLeder</div>
    <div class="AdminTextBox">Aktivitet</div>
    <div class="AdminTextBox">GuldHold</div>
    <div class="AdminTextBox">GuldScore</div>
    <div class="AdminTextBox">SølvHold</div>
    <div class="AdminTextBox">SølvScore</div>
    <div class="AdminTextBox">BronzeHold</div>
    <div class="AdminTextBox">BronzeScore</div>
  </div >
  <div style="height: 2px; background: black"></div>
  <div *ngFor="let ac of score;">
    <div style="display: flex; margin-top: 8px; margin-bottom: 8px">
      <input class="AdminTextBox" [(ngModel)]="ac.teamLeader" type="text">
      <input class="AdminTextBox" [(ngModel)]="ac.activity" type="text">
      <input class="AdminTextBox" [(ngModel)]="ac.goldTeam" type="text">
      <input class="AdminTextBox" [(ngModel)]="ac.goldScore" type="text">
      <input class="AdminTextBox" [(ngModel)]="ac.silverTeam" type="text">
      <input class="AdminTextBox" [(ngModel)]="ac.silverScore" type="text">
      <input class="AdminTextBox" [(ngModel)]="ac.bronzeTeam" type="text">
      <input class="AdminTextBox" [(ngModel)]="ac.bronzeScore" type="text">
      <button (click)="removeActivity(ac)">Slet</button>
    </div>
    <div style="height: 1px; background: gray"></div>
  </div>
</div>

<div style="margin: 10px"></div>

<button class="AdminButton" (click)="addActivity()">
  Tilføj ny aktivitet
</button>
<button class="AdminButton" (click)="saveScore()">
  Gem
</button>
<button class="AdminButton" (click)="revertChanges()">
  fortryd ændring
</button>
-->
