<div *ngIf="rotationStarted && !showSchedule" class="header">
  <img [src]="nihlogosrc" style="height: 64px;">
  <h1 style="margin-left: 20px;">NIH Special Olympics Scoretavle</h1>
</div>
<div *ngIf="rotationStarted && !showSchedule" class="contentContainer">
  <div class="row contentHeaderContainer">
    <div class="col-xs-2" style="font-size: 40px;">Sport</div>
    <div class="col-xs-10 row">
      <div class="col-xs-4">
        <div>
          <div class="contentHeader">
            Guld
            <img src="../../assets/images/goldmedal.png" style="height: 32px;">
          </div>
          <div style="display: flex;">
            <div class="contentSubHeader" style="width: 60%">Hold</div>
            <div class="contentSubHeader" style="width: 40%;">Score</div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div>
          <div class="contentHeader">
            Sølv
            <img src="../../assets/images/silvermedal.png" style="height: 32px;">
          </div>
          <div style="display: flex;">
            <div class="contentSubHeader" style="width: 60%">Hold</div>
            <div class="contentSubHeader" style="width: 40%;">Score</div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div>
          <div class="contentHeader">
            Bronze
            <img src="../../assets/images/bronzemedal.png" style="height: 32px;">
          </div>
          <div style="display: flex;">
            <div class="contentSubHeader" style="width: 60%">Hold</div>
            <div class="contentSubHeader" style="width: 40%;">Score</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row contentRow content" *ngFor="let s of shownScore;">
    <div class="col-xs-2">{{s.activity}}</div>
    <div class="col-xs-10 row">
      <div class="col-xs-4" style="display: flex;">
        <div class="contentCell" style="width: 60%">{{s.goldTeam}}</div>
        <div class="contentCell" style="width: 40%">{{s.goldScore}}</div>
      </div>
      <div class="col-xs-4" style="display: flex;">
        <div class="contentCell" style="width: 60%">{{s.silverTeam}}</div>
        <div class="contentCell" style="width: 40%">{{s.silverScore}}</div>
      </div>
      <div class="col-xs-4" style="display: flex;">
        <div class="contentCell" style="width: 60%">{{s.bronzeTeam}}</div>
        <div class="contentCell" style="width: 40%">{{s.bronzeTeam}}</div>
      </div>
    </div>
  </div>
</div>

<!-- program picture-->
<div *ngIf="!rotationStarted || showSchedule" style="position: absolute; left: 50%; top: 0; height: calc(100% - 30px)">
  <img  style="position: relative; left: -50%; height: 100%;" src="../../assets/images/program.png">
</div>

<!--news reel shower-->
<div class="newsReelContainer"></div>
<div #newsReelItem class="newsReelItem" [style.left]="newsReelEleLeftString" [innerHTML]="newsReelContent"></div>
