.header {
  margin: 10px;
  margin-left: 30px;
  padding: 5px;
  display: inline-flex;
}
.content {
  font-size: 36px;
  /*margin: 10px;*/
}
.newsReelContainer {
  width: 100%;
  height: 30px;
  position:absolute;
  bottom: 0;
  left: 0;
  background: black
}
.newsReelItem {
  font-size: 20px;
  color: #fff;
  position:absolute;
  white-space: pre;
  bottom: 0;
  left: 0;
}
.bgimg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("http://www.shopandbox.com/django_media/item_images/1481603499_34__79792__651.png");
  background-repeat: no-repeat;
  -webkit-background-size:;
  background-size: 100%;
  opacity: 0.10;
}

