.header {
  margin: 10px;
  margin-left: 30px;
  padding: 5px;
  display: inline-flex;
}
.contentContainer {
  margin: 15px;
  border: 1px black solid;
  background: #ffffff;
  background-image: url("./../../assets/images/marmor.jpg");
}
.contentHeaderContainer {
  margin-left: 0;
  margin-right: 0;
  padding: 8px;
  background: #000;
  font-size: 28px;
  color: #ffffff;
}
.contentHeader {
  text-align: center;
  padding-right: 50px;
}
.contentSubHeader{
  padding-left: 20px;
  margin-top: -12px;
}
.contentHeaderText {
  color: white;
}
.contentRow {
  padding: 10px;
}
.contentCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content {
  font-size: 24px;
}
.newsReelContainer {
  width: 100%;
  height: 30px;
  position:absolute;
  bottom: 0;
  left: 0;
  background: black
}
.newsReelItem {
  font-size: 20px;
  color: #fff;
  position:absolute;
  white-space: pre;
  bottom: 0;
  left: 0;
}
