/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'greek';
  src: url('assets/fonts/DIOGENES.ttf')  format('truetype');
  /*font-weight: bold;*/
}
body {
  background: #eee;
  padding: 10px;
  font-family: greek;
  overflow: hidden;
}
